<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row content">
            <div class="col-lg-4">
                <div class="section-title" data-aos="fade-right">
                    <h2>About Us</h2>
                    <p>Founded in 1987, our business has grown year by year. We understand the industry and our clients, 
                        we enjoy a stable track record - and this sets us apart.</p>
                </div>
            </div>


            <!-- <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <h2>Eum ipsam laborum deleniti velitena</h2>
                <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3>
            </div> -->
            <div class="col-lg-8 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
                <p class="text-justify">At the beginning, TOP RANK focused on the reliable supply of active pharmaceutical ingredients for human and veterinary 
                    needs. It was in Chottogram (former Chittagong) in early 1987 we sailed for the journey towards quality ingredients.</p>
                <ul>
                    <li class="text-justify"><i class="ri-check-double-line"></i> This traditional trade represents the roots of the company and the basis for today's success. 
                        We provide valuable assistance for important purchase decisions also.</li>
                    <li class="text-justify"><i class="ri-check-double-line"></i> As a service provider offering good customer service, TOP RANK responds to the changing needs 
                        of its business partners around the globe and has established new business units over these years.</li>
                </ul>
                <p class="text-justify">The business unit Minerals and Pulp today, which comprises the development for paper applications in Bangladesh, 
                    has also become a strong area of business for this  company as BCTMP made products are more attractive to producers 
                    because it needed less capital to construct the production facilities.. Increasingly strict regulatory and 
                    qualitative requirements on the pharmaceutical market require safeguarding of quality and documentation of products 
                    such as CEP. The demand for professional support in this area has also increased over these years. We have built a 
                    strong team to take care of your products whilst we assure you of market success in Bangladesh. </p>
                
                <!-- <p class="font-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore
                    magna aliqua.
                </p> -->
            </div>
        </div>

    </div>
</section><!-- End About Section -->
