<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="owl-carousel clients-carousel">
            <img class="img-size" src="../assets/img/clients/gsk-logo.png" alt="">
            <img src="../assets/img/clients/sodra-logo.svg" alt="">
            <img class="img-size" src="../assets/img/clients/corbion-logo.png" alt="">
            <img src="../assets/img/clients/fischer-logo.png" alt="">
            <img src="../assets/img/clients/qilu-logo.png" alt="">
            <img class="img-size-rb" src="../assets/img/clients/rb-logo.svg" alt="">
            <img class="img-size" src="../assets/img/clients/sanofi-logo.png" alt="">
            <img src="../assets/img/clients/thomas-logo.svg" alt="">
            <img class="img-size" src="../assets/img/clients/titan-logo.png" alt="">
        </div>

    </div>
</section>
<!-- End Clients Section -->
