<!-- ======= Clients Section ======= -->
<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="owl-carousel clients-carousel">
            <img class="img-size" src="../assets/img/clients/gsk-logo.webp" alt="gsk-logo">
            <img src="../assets/img/clients/sodra-logo.svg" alt="sodra-logo">
            <img class="img-size" src="../assets/img/clients/corbion-logo.webp" alt="corbion-logo">
            <img src="../assets/img/clients/fischer-logo.webp" alt="fischer-logo">
            <img src="../assets/img/clients/qilu-logo.webp" alt="qilu-logo">
            <img class="img-size-rb" src="../assets/img/clients/rb-logo.svg" alt="rb-logo">
            <img class="img-size" src="../assets/img/clients/sanofi-logo.webp" alt="sanofi-logo">
            <img src="../assets/img/clients/thomas-logo.svg" alt="thomas-logo">
            <img class="img-size" src="../assets/img/clients/titan-logo.webp" alt="titan-logo">
            <img class="img-size" src="../assets/img/clients/iol-logo.webp" alt="iol-logo">
            <img class="img-size" src="../assets/img/clients/nandu.webp" alt="nandu-logo">
            <img src="../assets/img/clients/fukang-logo.webp" alt="fukang-logo">
            <img src="../assets/img/clients/chemstation-logo.webp" alt="chemstation-logo">
            <img class="img-size-rb" src="../assets/img/clients/huashu-logo.webp" alt="huashu-logo">
            <img class="img-size" src="../assets/img/clients/phale-logo.webp" alt="phale-logo">
            <img class="img-size" src="../assets/img/clients/macco-logo.webp" alt="macco-logo">
            <img class="img-size-rb" src="../assets/img/clients/datwyler-logo.svg" alt="datwyler-logo">
            <img class="img-size-rb" src="../assets/img/clients/cerbios-logo.webp" alt="cerbios-logo">
            <img src="../assets/img/clients/mitsui-logo.webp" alt="mitsui-logo">
        </div>

    </div>
</section>
<!-- End Clients Section -->
