<!-- ======= Why Us Section ======= -->
<section id="why-us-details" class="why-us mt-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 d-flex align-items-stretch" data-aos="fade-right">
                <div class="section-title">
                    <a href="/#why-us"><p><i class="icofont-rounded-left"></i> Back to About</p></a>
                    <h2>Why Choose Us?</h2>
                    <p>
                        We have helped scores of manufacturers improve their front lines across a variety 
                        of industries, from the pharmaceutical sector to the paints, plastics and the paper 
                        sector. By putting our clients at the heart of everything we do, we are proud that 
                        we are still supporting our very first business client. With more than 35 years of 
                        experience in sourcing and expanding, we have the best tools in the trade to help you 
                        improve your business.
                    </p>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-xl-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0">
                    <h5 class="details-header"><i class="ri-check-double-line"></i> Comprehensive Project Management</h5>
                    <p class="text-justify">Our extensive experience managing all types of complex projects means we will 
                        handle every detail and coordinate all customers so you can rest assured that 
                        your project will be successful as undertaken.
                    </p>
                </div>
            </div>
            <div class="col-xl-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box mt-4 mt-xl-0">
                    <h5 class="details-header"><i class="ri-check-double-line"></i> We Mold On Our Customer’s Needs</h5>
                    <p class="text-justify">We are agile and ready to align based on product specificity, so our customer’s 
                        needs are always met with quality and best resources. We know both the art of 
                        matching people and the science of sincerity.
                    </p>
                </div>
            </div>
            <div class="col-xl-12 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box mt-4 mt-xl-0">
                    <h5 class="details-header"><i class="ri-check-double-line"></i> Long-term Relationships</h5>
                    <p class="text-justify">Even the best laid plans can be blown off course. That’s why we build long-term 
                        relationships with our clients to ensure you stay on track to meet your objectives.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Why Us Section -->

<!-- ======= Services Section ======= -->
<section id="service-details" class="services section-bg">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section-title" data-aos="fade-right">
                    <a href="/#services"><p><i class="icofont-rounded-left"></i> Back to Services</p></a>
                    <h2>Services</h2>
                    <p>With over 400 products in our portfolio, we're the leading international supplier of APIs
                        Check out our blog for company updates, industry news, and insights from thought leaders</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex align-items-stretch mb-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <h4>Performance and Best Possible Value Creation</h4>
                    <p>TOP RANK focuses on your specific requirements and offers business engagement, reliability of supply
                        and a quality guarantee.</p>
                    <p>Close ties with customers and suppliers of our involved industries allow us to quickly get a grasp of 
                        your individual requirements and needs as well. The company is known for its competence and transparency. </p>
                    <p>As your first-choice service provider, TOP RANK stands for fair cooperation and service that goes the 
                        extra mile. Our business relationships are based on personal and trust-based interaction, guaranteeing 
                        highly productive, growing and long-lasting business partnerships.</p>
                </div>
            </div>

            <div class="col-md-12 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <h4>Logistics Solutions</h4>
                    <p>Customers have the option of purchasing smaller or larger volumes. You can decide on packaging, pallets, 
                        labels and whether or not duty paid or unpaid goods are needed. TOP RANK guarantees efficient and prompt 
                        deliveries from European and Asian warehouses. We focus on customers and suppliers, with quick 
                        decision-making and flexibility.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Services Section -->

<!-- ======= Products Section ======= -->
<section id="pharma-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
       <a href="/#products"><p><i class="icofont-rounded-left"></i> Back to Products</p></a>
      <h2>Pharma</h2>
      <h5>Caring for our customers: Quality at speed…</h5>
      <p>We offer you a compelling combination of non-sterile and sterile steroids, biobased products and
        outstanding service – supported by a backward integrated supply chain and all backed up by 40
        years’ pharmaceutical supply chain experience. The result: Quality products that get to the producers faster.
      </p>
      <p class="mt-2">Quality is essential for our industry. But it’s innovation is what that gives our customers
        competitive
        differentiation. Today, our manufacturing partners in Europe are using the very latest white biotechnology
        techniques to develop a biobased portfolio of pharma-grade products that are like no other. With decades
        of steroid chemistry expertise and ongoing research and development activities, our business partners provide
        a flexible approach that meets your specific requirements.</p>
      <ul class="mt-2">
        <li><a href="#steroids-details"><i class="ri-check-double-line"></i> Steroids</a></li>
        <li><a href="#sterile-steroids-details"><i class="ri-check-double-line"></i> Sterile Steroids</a></li>
        <li><a href="#high-potent-substances-details"><i class="ri-check-double-line"></i> High Potent Substances</a></li>
        <li><a href="#anti-neoplastics-details"><i class="ri-check-double-line"></i> Anti-neoplastics</a></li>
        <li><a href="#products-for-five-solutions-details"><i class="ri-check-double-line"></i> Products for IV solutions</a></li>
        <li><a href="#oncology-details"><i class="ri-check-double-line"></i> Oncology</a></li>
        <li><a href="#veterinary-details"><i class="ri-check-double-line"></i> Veterinary</a></li>
        <li><a href="#sealing-solutions-packaging-details"><i class="ri-check-double-line"></i> Sealing Solutions/Packaging</a></li>
        <li><a href="#others-details"><i class="ri-check-double-line"></i> Others</a></li>

      </ul>
    </div>

  </div>
</section>

<section id="pulp-details" class="portfolio">
    <div class="container">

        <div class="section-title content" data-aos="fade-left">
            <a href="/#products"><p><i class="icofont-rounded-left"></i> Back to Products</p></a>
            <h2>Pulp</h2>
            <h5>Our options offer the most</h5>
            <p>Our focus is on delivering the best possible pulp. Whether you produce Tissue paper, milk packaging, specialty 
                paper or toilet paper, we help you find the optimal mass based on your needs and challenges. </p>
            <p class="mt-2">Our pulp partners produce many different varieties of masses. In fact, we believe we offer more options than any 
                other competing pulp supplier. Our extensive product portfolio means that we can meet all requests from tissue 
                paper to packaging and graphic paper. Our main qualities are NBSK, NBHK, BCTMP, BEKP, Fluff Pulp and Dissolving Pulp.</p>
            <p class="mt-2"><strong>Facilitating business opportunities:</strong> Our partner’s sound reputation among banks, credit 
                institutions and industrial development agencies all over the world creates a solid base for activities 
                in all our pulp business areas. The well-developed network of contacts in the global banking system results 
                in faster cash flow and more business opportunities for our suppliers and customers. The credit ratings are 
                absolutely outstanding.</p>
            <p class="mt-2"><strong>Trade Finance and Risk management:</strong> Our pulp division partner conducts trade in more than 100 
                countries worldwide and their risk management experts have long experience from handling and minimizing credit 
                and commercial risks as well as political ones.</p>
            <p class="mt-2">One example is our vast experience from emerging markets, where long credit periods for customers are an essential 
                competitive tool, while payment terms to suppliers are often short. Over the years, we have developed well successful 
                solutions to these conflicting demands. E.g. LC 90 days from date of BL offered…</p>
        </div>

    </div>
</section>

<section id="minerals-details" class="portfolio">
    <div class="container">

        <div class="section-title content" data-aos="fade-left">
            <a href="/#products"><p><i class="icofont-rounded-left"></i> Back to Products</p></a>
            <h2>Minerals</h2>
            <h5>Ready to provide our products to you</h5>
            <p>Our entry in Bangladesh market with Calcium Carbonate was hugely successful in late 90s’. We were able to penetrate 
                the market and win over customers' confidence with our consistent quality from both Thailand and Vietnam. Our 
                manufacturer combines their extensive experience and knowledge in the paint and plastic industry with its expertise 
                in calcium carbonate manufacturing to produce Ground Calcium(coated & uncoated), Calcium Masterbatch and White 
                Titanium Masterbatch for flexible packaging. We are very attentive to our individual customer needs and will tailor 
                the products to meet the requirement both in terms of specification and packaging. In other words, We Are Flexible For You.</p>
            <p class="mt-2">Our product list is non toxic and poses no harmful effect to the environment. Environmentally concerned multinational 
                companies operating in South East Asia and South Asia have been using these products which ascertain that these are 
                among the highest quality products available on the market.</p>
            <p class="mt-2">We have practically audited the factories and assure you machineries and equipments are from Germany and they maintain 
                German standards for dust control.</p>
        </div>

    </div>
</section>

<section id="chemicals-details" class="portfolio">
    <div class="container">

        <div class="section-title content" data-aos="fade-left">
            <a href="/#products"><p><i class="icofont-rounded-left"></i> Back to Products</p></a>
            <h2>Chemicals</h2>
            <h5>We Operate Globally…</h5>
            <p>Founded in 1926 in the North East of England, Our Chemical partner is an independent chemical manufacturing company 
                with a global network of distributors. With offices and warehousing in the UK, USA and China, they service the 
                domestic and international markets and export to over 80 countries worldwide. We focus on Anti-Oxidant Applications, 
                Inks & Coating manufacturing, Leather Fungicides, Personal and Household Care, Tyre and Rubber Additives. </p>
            <p class="mt-2">We are trusted by the most comprehensive Bangladeshi hand washing liquid and soap to protect against COVID-19.</p>
        </div>

    </div>
</section>

<section id="steroids-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
      <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
      <h2>Steroids</h2>
      <table class="table table-striped">
        <thead>
          <tr class="product-tr">
            <th scope="col">Active Ingredient <br>CAS Number</th>
            <th scope="col">Therapeutic Areas</th>
            <th scope="col">Available Grades</th>
            <th scope="col">Regulatory Documentation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AMCINONIDE <br>51022-69-6</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>BECLOMETHASONE <br>DIPROPIONATE <br>5534-09-8</td>
            <td>RESPIRATORY</td>
            <td>STANDARD <br>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>CEP</td>
          </tr>
          <tr>
            <td>BECLOMETHASONE <br>DIPROPIONATE <br>MONOHYDRATE <br>77011-63-3</td>
            <td>RESPIRATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF</td>
          </tr>
          <tr>
            <td>BETAMETHASONE <br>DIPROPIONATE <br>5593-20-4</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>CEP</td>
          </tr>
          <tr>
            <td>BETAMETHASONE <br>VALERATE<br> 2152-44-5</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>J DMF <br>CEP</td>
          </tr>
          <tr>
            <td>BUDESONIDE<br> 51333-22-3</td>
            <td>RESPIRATORY<br> GASTRO-INTESTINAL</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>CEP <br>J DMF <br>CHINESE DMF</td>
          </tr>
          <tr>
            <td>CHLORMADINONE <br>ACETATE<br> 302-22-7</td>
            <td>CONTRACEPTIVE</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>J DMF <br>CEP*</td>
          </tr>
          <tr>
            <td>CLOBETASOL <br>PROPIONATE <br>25122-46-7</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>J DMF <br>CEP</td>
          </tr>
          <tr>
            <td>CLOBETASONE <br>BUTYRATE <br>25122-57-0</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>CLOCORTOLONE <br>PIVALATE <br>34097-16-0</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF</td>
          </tr>
          <tr>
            <td>CYPROTERONE <br>ACETATE <br>427-51-0</td>
            <td>ANTI-ANDROGEN</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>CEP*</td>
          </tr>
          <tr>
            <td>DELMADINONE <br>ACETATE <br>13698-49-2</td>
            <td>ANTI-ANDROGEN <br>(VETERINARY)</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>DESONIDE <br>638-94-8</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>CHINESE DMF</td>
          </tr>
          <tr>
            <td>DESONIDE <br>SODIUM <br>PHOSPHATE <br>94087-98-6</td>
            <td>OPHTHALMIC</td>
            <td>STANDARD</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>DESOXIMETASONE <br>382-67-2</td>
            <td>DERMATOLOGIC <br>OPHTHALMIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF</td>
          </tr>
          <tr>
            <td>DIFLORASONE <br>DIACETATE <br>2557-49-5</td>
            <td>DERMATOLOGIC <br>(AS DIACETATE)</td>
            <td>STANDARD</td>
            <td>EU DMF <br>J DMF</td>
          </tr>
          <tr>
            <td>DIFLUCORTOLONE <br>VALERATE <br>59198-70-8</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>J DMF</td>
          </tr>
          <tr>
            <td>DIFLUPREDNATE <br>23674-86-4</td>
            <td>OPHTHALMIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>J DMF</td>
          </tr>
          <tr>
            <td>EXEMESTANE <br>107868-30-4</td>
            <td>ANTI-CANCER</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>CEP*</td>
          </tr>
          <tr>
            <td>FLUDROCORTISONE <br>ACETATE <br>514-36-3</td>
            <td>ADRENOCORTICAL <br>INSUFFICIENCY</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>CEP*</td>
          </tr>
          <tr>
            <td>FLUDROCORTISONE <br>BASE <br>127-31-1</td>
            <td>ANTI-INFLAMMATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>FLUMETHASONE <br>PIVALATE <br>2002-29-1</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>FLUNISOLIDE <br>3385-03-3</td>
            <td>RESPIRATORY</td>
            <td>STANDARD</td>
            <td>EU DMF <br>US DMF</td>
          </tr>
          <tr>
            <td>FLUNISOLIDE <br>ANHYDROUS <br>3385-03-3</td>
            <td>ANTI-ASTHMATIC</td>
            <td>STANDARD</td>
            <td>EU DMF <br>US DMF</td>
          </tr>
          <tr>
            <td>FLUNISOLIDE <br>HEMIHYDRATE <br>77326-96-6</td>
            <td>RESPIRATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF</td>
          </tr>
          <tr>
            <td>FLUOCINONIDE <br>356-12-7</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>US DMF <br>CHINESE DMF</td>
          </tr>
          <tr>
            <td>FLUOCINOLONE <br>ACETONIDE <br>67-73-2</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>US DMF <br>J DMF <br>CEP <br>CHINESE DMF</td>
          </tr>
          <tr>
            <td>FLUOROMETHOLONE <br>BASE <br>426-13-1</td>
            <td>OPHTHALMIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF <br>J DMF</td>
          </tr>
          <tr>
            <td>FLURANDRENOLIDE <br>1524-88-5</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br> J DMF</td>
          </tr>
          <tr>
            <td>FLUTICASONE <br> FUROATE**<br>80474-14-2</td>
            <td>RESPIRATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>FLUTICASONE <br> PROPIONATE<br>80474-14-2</td>
            <td>RESPIRATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br>CEP</td>
          </tr>
          <tr>
            <td>FULVESTRANT<br> 129453-61-8</td>
            <td>ANTI-CANCER</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br>CEP</td>
          </tr>
          <tr>
            <td>HALCINONIDE<br> 3093-35-4</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br> CHINESE DMF</td>
          </tr>
          <tr>
            <td>HALOMETASONE <br> MONOHYDRATE<br>50629-82-8</td>
            <td>DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>HYDROCORTISONE <br> ACETATE <br> 50-03-3</td>
            <td>DERMATOLOGIC<br>OPHTHALMIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> CEP*</td>
          </tr>
          <tr>
            <td>HYDROCORTISONE <br>HEMISUCCINATE<br> 2203-97-6</td>
            <td>ANTI-INFLAMMATORY</td>
            <td>STANDARD</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>LOTEPREDNOL <br> ETABONATE<br>82034-46-6</td>
            <td>OPHTHALMIC</td>
            <td>STANDARD<br> MICRONIZED</td>
            <td>EU DMF<br> US DMF<br> &nbsp;</td>
          </tr>
          <tr>
            <td>MEDROXYPROGESTERONE<br> ACETATE<br>71-58-9</td>
            <td>CONTRACEPTIVE</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br> J DMF</td>
          </tr>
          <tr>
            <td>MEGESTROL <br> ACETATE<br> 595-33-5</td>
            <td>ANTI-CANCER</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br>CEP</td>
          </tr>
          <tr>
            <td>METHYLTESTOSTERONE<br> 58-18-4</td>
            <td>ANABOLIC-<br> ANDROGENIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF</td>
          </tr>
          <tr>
            <td>MOMETASONE <br> FUROATE<br> 83919-23-7</td>
            <td>RESPIRATORY-<br> DERMATOLOGIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br>CEP</td>
          </tr>
          <tr>
            <td>OSATERONE <br> ACETATE <br> 105149-04-0</td>
            <td>ANTI-ANDROGEN<br> (VETERINARY)</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>PARAMETHASONE <br> ACETATE<br> 1597-82-6</td>
            <td>&nbsp;<br>DERMATOLOGIC</td>
            <td>&nbsp;<br> MICRONIZED</td>
            <td>&nbsp;<br> EU DMF</td>
          </tr>
          <tr>
            <td>PREDNISOLONE <br> ACETATE<br> 52-21-1</td>
            <td>DERMATOLOGIC</td>
            <td>STANDARD<br> MICRONISED</td>
            <td>EU DMF<br> CEP*</td>
          </tr>
          <tr>
            <td>PREDNISOLONE <br> VALERATE<br> ACETATE<br> 72064-79-0</td>
            <td>&nbsp;<br>DERMATOLOGIC</td>
            <td>&nbsp;<br> MICRONIZED</td>
            <td>EU DMF <br> J DMF</td>
          </tr>
          <tr>
            <td>TRIAMCINOLONE<br> 124-94-7</td>
            <td>DERMATOLOGIC<br>OPHTHALMIC</td>
            <td>STANDARD MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>TRIAMCINOLONE <br> ACETONIDE <br> 76-25-5</td>
            <td>DERMATOLOGIC<br>OPHTHALMIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br> CEP</td>
          </tr>
          <tr>
            <td>TRIAMCINOLONE <br> DIACETATE<br> 67-78-7</td>
            <td>DERMATOLOGIC<br>OPHTHALMIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF</td>
          </tr>
          <tr>
            <td>TRIAMCINOLONE<br> HEXACETONIDE<br>5611-51-8</td>
            <td>DERMATOLOGIC<br>OPHTHALMIC</td>
            <td>STANDARD<br> MICRONIZED</td>
            <td>EU DMF<br> US DMF<br>CEP</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>

<section id="sterile-steroids-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
      <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
      <h2>Sterile Steroids</h2>
      <table class="table table-striped">
        <thead>
          <tr class="product-tr">
            <th scope="col">Active Ingredient <br>CAS Number</th>
            <th scope="col">Therapeutic Areas</th>
            <th scope="col">Available Grades</th>
            <th scope="col">Regulatory Documentation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BECLOMETHASONE <br> DIPROPIONATE<br> 5534-09-8</td>
            <td>RESPIRATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>BUDESONIDE<br> 51333-22-3</td>
            <td>RESPIRATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF</td>
          </tr>
          <tr>
            <td>HYDROCORTISONE <br> ACETATE <br> 50-03-3</td>
            <td>OPHTHALMIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> CEP*</td>
          </tr>
          <tr>
            <td>LOTEPREDNOL <br> ETABONATE <br> 82034-46-6</td>
            <td>OPHTHALMIC</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF</td>
          </tr>
          <tr>
            <td>MEDROXYPROGESTERONE <br> ACETATE (WHO pre-approved)<br> 71-58-9</td>
            <td>CONTRACEPTIVE</td>
            <td>MICRONIZED</td>
            <td>EU DMF#<br> US DMF#</td>
          </tr>
          <tr>
            <td>METHYLPREDNISOLONE <br> ACETATE<br> 53-36-1</td>
            <td>INJECTABLE <br> ANTI-INFLAMMATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF</td>
          </tr>
          <tr>
            <td>PREDNISOLONE <br> ACETATE<br> 52-21-1</td>
            <td>OPHTHALMIC<br> INJECTABLE <br> ANTI-INFLAMMATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br> CEP</td>
          </tr>
          <tr>
            <td>PREDNISOLONE <br> BASE <br> 50-24-8</td>
            <td>ANTI-INFLAMMATORY<br> (VETERINARY)</td>
            <td>MICRONIZED</td>
            <td>EU DMF</td>
          </tr>
          <tr>
            <td>TRIAMCINOLONE<br> ACETONIDE<br> 76-25-5</td>
            <td>INJECTABLE <br> ANTI-INFLAMMATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF# <br>US DMF <br>J DMF<br> CEP*</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>

<section id="high-potent-substances-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
      <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
      <h2>High Potent Substances</h2>
      <table class="table table-striped">
        <thead>
          <tr class="product-tr">
            <th scope="col">Active Ingredient <br>CAS Number</th>
            <th scope="col">Therapeutic Areas</th>
            <th scope="col">Available Grades</th>
            <th scope="col">Regulatory Documentation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CANNABIDIOL<br> (CBD, synthetic)<br> 13956-29-1</td>
            <td>VARIOUS</td>
            <td>STANDARD</td>
            <td>EU DMF<br> US DMF</td>
          </tr>
          <tr>
            <td>FORMOTEROL <br> FUMARATE <br> DIHYDRATE<br> 183814-30-4</td>
            <td>RESPIRATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br> CEP</td>
          </tr>
          <tr>
            <td>ISOPROTERENOL</td>
            <td>CARDIOVASCULAR</td>
            <td>STANDARD</td>
            <td>N.A.</td>
          </tr>
          <tr>
            <td>MIVACURIUM <br> CHLORIDE<br> 106861-44-3</td>
            <td>ANESTHETIC</td>
            <td>STANDARD</td>
            <td>EU DMF<br> US DMF</td>
          </tr>
          <tr>
            <td>TIROFIBAN <br> HYDROCHLORIDE<br> MONOHYDRATE<br> 150915-40-5</td>
            <td>CARDIOVASCULAR</td>
            <td>STANDARD</td>
            <td>EU DMF<br> US DMF</td>
          </tr>
          <tr>
            <td>SALMETEROL<br> XINAFOATE<br> 94749-08-3</td>
            <td>RESPIRATORY</td>
            <td>MICRONIZED</td>
            <td>EU DMF<br> US DMF<br> CEP*</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>

<section id="anti-neoplastics-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
      <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
      <h2>Anti-Neoplastics</h2>
      <table class="table table-striped">
        <thead>
          <tr class="product-tr">
            <th scope="col">Active Ingredient <br>CAS Number</th>
            <th scope="col">Therapeutic Areas</th>
            <th scope="col">Available Grades</th>
            <th scope="col">Regulatory Documentation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>BUSULFAN <br>55-98-1</td>
            <td>ANTI-CANCER</td>
            <td>STANDARD</td>
            <td>EU DMF <br>US DMF <br>CEP*</td>
          </tr>
          <tr>
            <td>MELPHALAN HCL <br>3223-07-2</td>
            <td>ANTI-CANCER</td>
            <td>STANDARD</td>
            <td>EU DMF <br>US DMF</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>

<section id="products-for-five-solutions-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
      <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
      <h2>Products for IV solutions</h2>
      <table class="table table-striped">
        <thead>
          <tr class="product-tr">
            <th scope="col">Active Ingredient <br>CAS Number</th>
            <th scope="col">Therapeutic Areas</th>
            <th scope="col">Available Grades</th>
            <th scope="col">Regulatory Documentation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>LACTIC ACID</td>
            <td>PHARMA GRADE</td>
            <td>USP,JP,EP</td>
            <td>COS Grade</td>
          </tr>
          <tr>
            <td>SODIUM LACTATE</td>
            <td>PHARMA GRADE 50%</td>
            <td>USP,EP,JP</td>
            <td>COS Grade</td>
          </tr>
          <tr>
            <td>SODIUM LACTATE</td>
            <td>PHARMA GRADE 60%</td>
            <td>USP,EP,JP</td>
            <td>COS Grade</td>
          </tr>
          <tr>
            <td>CALCIUM LACTATE</td>
            <td>PHARMA GRADE</td>
            <td>USP,EP</td>
            <td>COS Grade</td>
          </tr>
          <tr>
            <td>CALCIUM LACTATE</td>
            <td>For Direct Compressible use</td>
            <td>USP,EP</td>
            <td>COS Grade</td>
          </tr>
          <tr>
            <td>CALCIUM LACTATE</td>
            <td>GLUCONATE PHARMA GRADE</td>
            <td>USP,EP</td>
            <td>COS Grade</td>
          </tr>
          <tr>
            <td>CALCIUM GLUCONATE</td>
            <td>MONOHYDRATE (INJECTABLE)</td>
            <td>USP,EP</td>
            <td>COS Grade</td>
          </tr>
          <tr>
            <td>CALCIUM GLUCONATE</td>
            <td>MONOHYDRATE (ORAL)</td>
            <td>USP,EP</td>
            <td>COS Grade</td>
          </tr>
          <tr>
            <td>CALCIUM</td>
            <td>D-SACCHARATE</td>
            <td>USP</td>
            <td>CEP</td>
          </tr>
          <tr>
            <td>FERROUS GLUCONATE</td>
            <td>PHARMA GRADE</td>
            <td>USP,EP</td>
            <td>CEP</td>
          </tr>
          <tr>
            <td>MAGNESIUM GLUCONATE</td>
            <td></td>
            <td>USP</td>
            <td>CEP</td>
          </tr>
          <tr>
            <td>POTASSIUM GLUCONATE</td>
            <td></td>
            <td>USP</td>
            <td>CEP</td>
          </tr>
          <tr>
            <td>ZINC GLUCONATE</td>
            <td></td>
            <td>USP</td>
            <td>CEP</td>
          </tr>
          <tr>
            <td>MAGNESIUM LACTATE</td>
            <td></td>
            <td>EP</td>
            <td>CEP</td>
          </tr>
          <tr>
            <td>ZINC LACTATE</td>
            <td></td>
            <td>USP,EP</td>
            <td>COS Grade</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>

<section id="oncology-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
      <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
      <h2>Oncology</h2>
      <table class="table table-striped">
        <thead>
          <tr class="product-tr">
            <th scope="col">Active Ingredient <br>CAS Number</th>
            <th scope="col">Therapeutic Areas</th>
            <th scope="col">Available Grades</th>
            <th scope="col">Regulatory Documentation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ALOGLIPTIN <br>BENZOATE <br>850649-62-6</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>TRELAGLIPTIN <br>SUCCINATE <br>1029877-94-8</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>LINAGLIPTIN <br>668270-12-0</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>VALSARTAN+ <br>SACUBITRIL <br>936623-90-4</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>TENOFOVIR <br>ALAFENAMIDE <br>FUMARATE <br>1392275-56-7</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>TOFACITINIB <br>477600-75-2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>BARICITINIB <br>1187594-09-7</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>IBRUTINIB (INN) <br>936563-96-1</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>OSIMERTINIB (INN) <br>1421373-65-0</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>CRIZOTINIB (INN) <br>877399-52-5</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>RUCAPARIB (INN) <br>283173-50-2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>NIRAPARIB (INN) <br>1038915-60-4</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Abiraterone <br>Acetate <br>154229-18</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Azacitidine <br>320-67-2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Bortezomib <br>179324-69-7</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Capecitabine <br>154361-50-9</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Carboplatin <br>41575-94-4</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Cisplatin <br>15663-27-1</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Docetaxel <br>Anhydrous <br>114977-28-5</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Docetaxel <br>Trihydrate <br>148408-66-6</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Erlotinib <br>Hydrochloride <br>183319-69-9</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Exemestane <br>107868-30-4</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Gefitinib <br>184475-35-2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Gemcitabine <br>Hydrochloride <br>95058-81-4</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Hydroxyurea <br>127-07-1</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Imatinib <br>Mesylate <br>220127-57-1</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Irinotecan <br>Hydrochloride <br>100286-90-6</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Oxaliplatin <br>61825-94-3</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pemetrexed <br>Disodium <br>150399-23-8</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>

<section id="veterinary-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
      <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
      <h2>Veterinary</h2>
      <table class="table table-striped">
        <thead>
          <tr class="product-tr">
            <th scope="col">Active Ingredient <br>CAS Number</th>
            <th scope="col">Therapeutic Areas</th>
            <th scope="col">Available Grades</th>
            <th scope="col">Regulatory Documentation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Oxytetracycline Hydrochloride</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Oxytetracycline Hydrochloride <br>(Injectable)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Oxytetracycline Hydrochloride <br>(Sterile)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Neomycin Sulphate</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Doxycycline Hydrochloride</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Doxycycline Hydrochloride <br>(Injectable)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Apramycin sulfate</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Avermectin</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Kanamycin monosulfate</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Monensin pure <br>product</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Monensin premix <br>(powder, granules)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Salinomycin premix <br>(powder, granules)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Flavomycin premix <br>(powder, granules)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Enramycin premix <br>(powder, granules)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Diclazuril premix <br>(powder, granules)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Macrotoxin</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Neotoxin sulfate</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Compound Madumicin <br>Ammonia Premix</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Premixes of madimicin <br>ammonium (powder, <br>granules)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Madimicin ammonium</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Kanatoxin B</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Kanatoxin monosulfate</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Nosiheptide premix <br>(powder, granules)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Ivermectin</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>

<section id="sealing-solutions-packaging-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
      <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
      <h2>Sealing Solutions/Packaging</h2>
    </div>

  </div>
</section>

<section id="others-details" class="portfolio">
  <div class="container">

    <div class="section-title content" data-aos="fade-left">
      <a href="#pharma-details"><p><i class="icofont-rounded-left"></i> Back to Pharma</p></a>
      <h2>Others</h2>
    </div>

  </div>
</section>
<!-- End Products Section -->
