<!-- ======= Products Section ======= -->
<section id="products" class="portfolio">
    <div class="container">

        <div class="section-title" data-aos="fade-left">
            <h2>Products</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <!-- <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>
            </div>
        </div> -->

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-6 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    <a href="/details/#pharma-details" title="More Details">
                        <div class="portfolio-info">
                            <h4>PHARMA</h4>
                            <p>Caring for our customers: Quality at speed…</p>
                            <!-- <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox"
                                    title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div> -->
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    <a href="/details/#pulp-details" title="More Details">
                        <div class="portfolio-info">
                            <h4>PULP</h4>
                            <p>Our options offer the most</p>
                            <!-- <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox"
                                    title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div> -->
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <a href="/details/#minerals-details" title="More Details">
                        <div class="portfolio-info">
                            <h4>MINERALS</h4>
                            <p>Ready to provide our products to you</p>
                            <!-- <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox"
                                    title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div> -->
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 portfolio-item">
                <div class="portfolio-wrap">
                    <img src="/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    <a href="/details/#chemicals-details" title="More Details">
                        <div class="portfolio-info">
                            <h4>CHEMICALS</h4>
                            <p>We Operate Globally…</p>
                            <!-- <div class="portfolio-links">
                                <a href="/assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox"
                                    title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div> -->
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Products Section -->